.navegacion {
    display: flex;
    justify-content:space-around ;
    color: var(--white-color);
    font-size: 1.8rem;
    font-size: 900;
    padding: 1rem;
}

.activo {
    color: var(--primary-color);
}