.inputContainer{
    display: flex;
    flex-direction: column;
    width: 80%; 
    /* margin: 1rem; */
    justify-content: space-between;
    align-items: center; 
}

.input-label {
    font-size: 2.2rem;
    color: white;
    text-align: start;
    align-self: flex-start;
    /* margin-bottom: 0.5rem; */
}

.input-type{
    height: 5rem;
    width: 100%;
    max-width: 35rem;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
    border: 2px solid grey; 
    transition: border-color 0.3s ease;
    text-align: flex-start;
}

.input-type:focus {
    border-color: var(--title-color);
    outline: none;
    border: 2px solid var(--title-color); 
}

.error-container{
    height: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.error-message{
    color: red;
    font-size: 1.4rem;
    /* font-weight: lighter; */
    margin-top: 0.5rem;
    text-align: left;
}

