.layout-rendering-area {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 9rem 0;
  overflow-y: auto;
}

.layout-rendering-area::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('https://img.freepik.com/vector-gratis/fondo-abstracto-vector-hexagonal-forma-hexagonal-patron-hexagonal-geometrico-textura-hexagonal-ilustracion-hexagonal-decoracion_1284-52740.jpg?semt=ais_hybrid&w=740')  center center;
  background-size: fill;
  filter:sepia(0.9) opacity(0.3) brightness(0.8);
}

.layout-rendering-area > * {
  position: relative;
}
