.profileOptins{
    margin: 2rem auto 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 0rem;
}
.menuProfile {
    color: var(--white-color);
    cursor: pointer;
    font-size: 3.5rem;
    text-decoration: none;
}

.menuProfile:hover {
    color: var(--primary-color);
}
