.credentials-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credentialsFormulary{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.buttonsCredentials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}