h1{
    color: var(--white-color);
    font-size: 2rem;
    margin: 1rem;
}

.image-home {
    margin: 2rem    ;
    width: 30%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.card-animated {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

.module-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

.image-home {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: .8s;
  margin: 2rem;
  width: 30%;
}