
.login-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 1rem;
    padding: 1rem;
    
    
}

.loginFormulary {
    width: 30rem;
    height: 43rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    backdrop-filter: blur(3px); /* Efecto de difuminación */
    background-color: var(--primary-color);
    background-color: rgba(109, 110, 107, 0.363); 
    border: 3px solid grey; 
}

.buttonsLogin{
    /* margin-top: 1rem; */
}


