.contenido-card {
    display: grid;
    grid-template-columns: repeat(2 , 60% 1% 30% );
    gap: 1rem;
    padding: 1rem;
    margin: 0.3rem;
    
    img{
        grid-column: 3 / 4 ;
        border-radius: 7px;
        justify-self: center;
        align-self: center;
    }
  }

.icono{
    color: var(--white-color);
    background-color: var(--title-color);
    border-radius: 5px;
    padding: 0.5rem;
    grid-column: 1 / 4;

}
